@charset "UTF-8";

section.postagem {
    max-width: 500px;
    max-height: 1000px;
    background-color: rgb(146, 146, 206);
    margin: auto;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.398);
    margin-bottom: 50px;
}

img.perfil {
    max-width: 75px;
    max-height: 75px;
    margin: 10px;
    border-radius: 50%;
    border: 3px solid rgb(98, 98, 175);
}

p.nome {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder ;
    font-size: 1.2em;
    position: absolute;
    display: inline;
    padding: 40px 0px;
}

p.comentario {
    text-align: justify;
    font-weight: bold;
    padding: 0px 10px 10px 10px;
    border-bottom: 1px solid black;
    border-radius: 10px;
}

img.foto {
    max-height: 270px;
    display: block;
    margin: auto;
    padding: 10px 0px;
}

ul.reacoes {
    list-style: none;
    display: flex;
    border-radius: 10px;
    border-top: 1px solid black;
    margin: auto;
}

img.icone {
    max-width: 30px;
    padding: 15px 20px 10px 20px;
}